{
  "presets":  [
    ["env", {
      "targets": {
        "browsers": [
          "ie >= 11",
          "ie_mob >= 10",
          "ff >= 30",
          "chrome >= 34",
          "safari >= 7",
          "opera >= 23",
          "ios >= 7",
          "android >= 4.4",
          "bb >= 10"
        ]
      }
    }], "react", "stage-0"],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "transform-class-properties",
    "transform-react-jsx-img-import"
  ],
  "env": {
    "test": {
      "presets":[
        "es2015",
        "stage-0",
        "react"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "transform-class-properties"
      ]
    }
  }
}
