{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "eol-last": 2,
    "import/prefer-default-export": 0,
    "indent": [2, 4],
    "max-len": [2, 150, 4],
    "no-underscore-dangle": [0],
    "no-unused-vars": 2,
    "quotes": [2, "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "semi": [2, "never"],
    "space-before-function-paren": [0, { "anonymous": "always", "named": "always" }],
    "strict": [ 2, "global"],
    "react/display-name": 0,
    "jsx-a11y/label-has-for": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": [1, "tag-aligned"],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-no-undef": 2,
    "react/no-unescaped-entities": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2
  }
}
