@import "../../../styles/base"

.repo-item
  padding: $spacing.xs
  margin-bottom: $spacing.sm

  .repo-item__title
    margin: 0 0 $spacing.xs
    flex-grow: 3

  .repo-item__props
    text-align: right
    margin-right: $spacing.xs
