@import "../../../../styles/base.styl"

.user-box
  &__container
    padding: $spacing.md
    min-height: 256px

    > *
      min-height: 256px


  &__label
    display: inline

  &__input
    margin: 0 $spacing.md 0 $spacing.xs2
