/**
 * Design System: color theme values
 *
 * Getter exmple:
 *   .button {background-color: $brand-01; color: $text-02}
 */

/**
 * Brand
 */
$brand-01 = #5a61ed // purple
$brand-02 = #ffcc00 // yellow

/**
 * UI - background and border colors
 */
$ui-01 = #ffffff
$ui-02 = #f1f1f2

/**
 * Text
 */
$text-01 = #3f3f3f
$text-02 = #bbbdbf
$text-03 = #ffffff

/**
 * Support
 */
$support = {
  success: #5bce5b
  error: #ff4646
}
