/**
 * Radius values
 * Getter example:
 * .avatar {border-radius: $radius.circle}
 */
$radius = {
  circle: 50%,
  small : 0.125rem,   // 2px
  medium: 0.25rem,    // 4px
  large : 0.5rem,     // 8px
  big   : 1rem,       // 16px
  pill  : 15rem,      // 240px
}
