/**
 * Box model values
 * Inner components spacing
 */
$spacing = {
  xs2: 0.25rem,  // 4px
  xs : 0.5rem,   // 8px
  sm : 0.75rem,  // 12px
  md : 1rem,     // 16px
  lg : 1.5rem,   // 24px
  xl : 2rem,     // 32px
  xl2: 2.5rem,   // 40px
  xl3: 3rem,     // 48px
}

/**
 * Vertical rythms values
 * Space between components
 */
$layout = {
  xs2: 1rem,     // 16px
  xs : 1.5rem,   // 24px
  sm : 2rem,     // 32px
  md : 3rem,     // 48px
  lg : 4rem,     // 64px
  xl : 5rem,     // 80px
}
