/**
 * Z index level values
 */
$z-index = {
  dropdown-backdrop:  990,
  navbar:            1000,
  dropdown:          1000,
  fixed:             1030,
  sticky:            1030,
  modal-backdrop:    1040,
  modal:             1050,
  popover:           1060,
  tooltip:           1070
}
