@import "../styles/base.styl"

body {
  min-height: 100vh
  background: linear-gradient(120deg, $ui-01 55%, $brand-02 55%)
  margin: 0
}

.app
  &__title
    margin-top: 0
    padding: $spacing.sm $spacing.sm 0
