base-font-size = 18
gutter = 30px
columns = 12

breakpoints = {
  xs: 0,
  sm: 375px,
  md: 576px,
  lg: 768px,
  xl: 992px,
  hd: 1200px
}

container = {
  xl: 1140px, //xl
  lg: 960px, //lg
  md: 720px, //md
  sm: 540px, //sm
  xs: 100% //xs
}

/* container settings */

// xs: 100% (320px)
// sm: 540px
// md: 720px
// lg: 960px
// xl: 1140px
