@import "../../../../styles/base"

.repo-item
  padding: $spacing.xs
  margin-bottom: $spacing.sm

  .repo-item__title
    margin: 0 0 $spacing.xs

  .repo-item__tags
    flex-grow: 1
    text-align: right
    margin-right: $spacing.xs
